.homepage {
	display: flex;
	justify-content: space-around;
}

.homepageprofile {
	margin-left: 200px;
}

.homepagepic {
	width: 230px;
	height: auto;
}

.homepagepic ~ p {
	font-size: 16px;
	color: #737373;
}

.homepagepic ~ h1 {
	font-size: 40px;
	color: #252B42;
}

.homepagepic ~ h3 {
	font-size: 18px;
	color: #252B42;
}

.happening {
	margin-left: 250px;
}

.happening h2 {
	font-size: 24px;
	color: #252B42;
}

.happeningCard {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	padding: 20px 50px;
	width: auto;
	background-color: white;
	margin: 20px 0px;
}

.happeningCard p {
	font-size: 16px;
}