.homepage {
	display: flex;
	justify-content: space-around;
}

.homepageprofile {
	margin-left: 200px;
}

.homepagepicedit {
	width: 230px;
	height: auto;
    margin-top: 20px;
}

.homepagepicedit ~ p {
	font-size: 16px;
	color: #737373;
}

.homepagepicedit ~ h1 {
	font-size: 40px;
	color: #252B42;
}

.homepagepicedit ~ h3 {
	font-size: 18px;
	color: #252B42;
}

.happening {
	margin-left: 250px;
}

.happening h2 {
	font-size: 24px;
	color: #252B42;
}

.happeningCard {
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 20px;
	padding: 20px 50px;
	width: auto;
	background-color: white;
	margin: 20px 0px;
}

.happeningCard p {
	font-size: 16px;
}

.form-green-button-changedisplay {
    margin: 5px;
    padding: 10px 18px;
    background: #9eb982;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 70%;
    right: 10%;
    top: 45%;
    bottom: 48%;
    width: 300px;
    }

    .form-green-button-viewdisplay {
        margin: 5px;
        padding: 10px 18px;
        background: #9eb982;
        border-radius: 20px;
        cursor: pointer;
        color: white;
        font-weight: bold;
        position: absolute;
        left: 70%;
        right: 10%;
        top: 25%;
        bottom: 68%;
        width: 300px;
        }
    
        .form-green-button-postdisplay {
            margin: 5px;
            padding: 10px 18px;
            background: #9eb982;
            border-radius: 20px;
            cursor: pointer;
            color: white;
            font-weight: bold;
            position: absolute;
            left: 70%;
            right: 10%;
            top: 35%;
            bottom: 58%;
            width : 300px;
            }